<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nearva - Hyperlocal Services</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}?v=9.1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="logo">
            <!-- Logo will be placed here -->
            <img src="{{ url_for('static', path='images/nearva_logo.png') }}?v={{ range(1, 10000) | random }}"
                alt="Nearva Logo" class="logo-img">

        </div>
        <div class="nav-links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('map_view') }}">Nearby Services</a>
            <a href="{{ url_for('register') }}">Join as Worker</a>
            <a href="{{ url_for('admin') }}">Admin</a>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>